<p id="notice"><%= notice %></p>
<div class="box-style">
  <div id="pin_show row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel.panel-default">
        <div class="panel-heading pin_image">
          <%= image_tag @pin.image.url(:medium) %>
          <div class="panel-body">
            <h1><%= @pin.title.capitalize %></h1>
              <strong>Description:</strong>
              <%= @pin.description.capitalize %>
            <div class="panel-footer">
              <div class="row">
                <div class="col-md-6">
                  <div class="col-md-6">
                    <div class="btn-group pull-right">
                      <%= link_to 'Edit', edit_pin_path(@pin), class: "btn btn-primary" %>
                      <%= link_to "Delete", pin_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary" %>
                      <%= link_to 'Back', pins_path, class: "btn btn-primary" %>
                    </div>
                  </div>
                </div>
              </div>
              <p><b>Submitted by:</b> <%= @pin.user.email %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
